$govuk-images-path: "/b2c/images/";
$govuk-fonts-path: "/b2c/assets/static/media/";

@import '../node_modules/govuk-frontend/govuk/all';

#api,
#simplemodal-overlay,
#simplemodal-container {
  display: none !important;
}


.show {
  display: block;
}

.hide {
  display: none;
}