<h1 class="govuk-heading-xl">Invalid request</h1>

<p class="govuk-body-l">The request is invalid or missing information</p>

<% if(errorMessage) { %>
<div class="code">
    <%= errorMessage %>
</div>
<% } %>