<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-box-highlight">
            <h1 class="govuk-heading-xl">
                Password has been reset
            </h1>
        </div>
        <p class="govuk-body">Your password has been reset and can now be used to access your DfE Sign-in account.</p>
        <a class="govuk-button" href="<%=locals.redirectUri%>">Sign in</a>
    </div>
</div>