<div class="govuk-grid-row" data-event="Completed" data-category="Migration" data-label="<%=locals.clientId%>" id="ga-event">
    <div class="govuk-grid-column-full">
        <div class="govuk-box-highlight">
            <h1 class="govuk-heading-xl">
                Your DfE Sign-in account is set up
            </h1>
        </div>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">You can sign in using your email address and your new password.</p>
        <p class="govuk-body"><a class="govuk-button" href="<%=locals.redirectUri%>">Sign in</a></p>
    </div>
</div>